.btn1 {
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
    position: absolute;
    width: 200px;
    height: 46px;
    justify-content: flex-end;
    background: #232EAF;
    box-shadow: rgba(82, 55, 236, 0.25) 0px 14px 28px, rgba(7, 3, 241, 0.22) 0px 5px 15px;
    }
    .name{
    width: 133px;
    height: 21px;
    font-weight: 1000;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    justify-content: center;
    }