.btnContainer {
  width: 100%;
  background-color: #2A2AC0;
  padding: 20px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
}

.rounded_btn{
  padding: 0px;
  transition: all 250ms ease 0s;
  border: none;
  margin: 5px;
  background-color: #d9ddf4;
  font-size: 1.3em;
  content: "";
  width: 19px;
  height: 18px;
  border-radius: 50%;
  outline: none;
}
.active {
  background-color: #2A2AC0 !important;
}