@mixin defaultValues ($property, $value: null, $default: null) {
  @if ($value) {
    #{$property}: #{$value};
  }   @else {
      @if ($default) {
      #{$property}: #{$default};
    }
  }
}

@mixin addFont($family: null,  $font-size: null, $letter-spacing: null) {
  @include defaultValues('font-family', $family, 'Roboto');
  @include defaultValues('font-size', $font-size);
  @include defaultValues('letter-spacing', $letter-spacing);
}

.default_styles {
  color: #ffffff;
  @include addFont();
}

//Color Styles
.default_styles :global(.blue) {
  color: #2A2AC0;
}

.default_styles :global(.dark-blue) {
  color: #181461;
}

.default_styles :global(.dark-black) {
  color: #1C1C1C;
}

.default_styles :global(.normal-black) {
  color: #363636;
}

//Line Height Styles
.default_styles :global(.lh-20) {
  line-height: 20px;
}

.default_styles :global(.lh-24) {
  line-height: 24px;
}

.default_styles :global(.lh-30) {
  line-height: 30px;
}

.default_styles :global(.lh-40) {
  line-height: 40px;
}

//font size styles
.default_styles :global(.fs-10) {
  font-size: 10px;
}

.default_styles :global(.fs-12) {
  font-size: 12px;
}

.default_styles :global(.fs-16) {
  font-size: 16px;
}

.default_styles :global(.fs-18) {
  font-size: 18px;
}

.default_styles :global(.fs-20) {
  font-size: 20px;
}

//Font OverAll Styles
.default_styles :global(.head-text),
.default_styles :global(.head-text-sm) {
  @include addFont('Roboto Regular', 35px, null);
}

.default_styles :global(.small-text),
.default_styles :global(.small-text-sm) {
  @include addFont('Roboto Regular', 24px, null);
}

.default_styles :global(.extra-small-text)
.default_styles :global(.extra-small-text-sm) {
  @include addFont('Roboto Regular', 18px, null);
}

.default_styles :global(.normal-text),
.default_styles :global(.normal-text-sm) {
  @include addFont('Roboto Regular', 27px, null);
}

.default_styles :global(.medium-text),
.default_styles :global(.medium-text-sm) {
  @include addFont('Roboto Regular', 35px, null);
}

@media (min-width: 576px) {
  .default_styles :global(.head-text),
  .default_styles :global(.head-text-md) {
    @include addFont('Roboto Regular', 55px, null);
  }
  
  .default_styles :global(.small-text),
  .default_styles :global(.small-text-md) {
    @include addFont('Roboto Regular', 24px, null);
  }
  
  .default_styles :global(.extra-small-text),
  .default_styles :global(.extra-small-text-md) {
    @include addFont('Roboto Regular', 18px, null);
  }
  
  .default_styles :global(.normal-text),
  .default_styles :global(.normal-text-md) {
    @include addFont('Roboto Regular', 35px, null);
  }

  .default_styles :global(.medium-text),
  .default_styles :global(.medium-text-md) {
    @include addFont('Roboto Regular', 45px, null);
  }
  
}