.mainList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container2 {
  height: 67.88px;
  margin-top: 47.77px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List2 {
  margin: 0px !important	;
  padding: 2px !important;
  width: 203.69px;
  max-height: 72px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  
}
