.container {
  width: 116px;
  min-width: 116px;
  height: 141px;
  background-color: #232EAF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
}