.inputContainer {
  width: 170px;
  height: 5vh;
  background: linear-gradient(196.77deg, #252cb3 0%, #053f5e 278.21%);
  border: none;
  margin: 20px;
  border-radius: 7px;
  color: white;
}

.name{
    font-size:20px;
    margin: 0px;
}

  .button{
   align-items: center;
    border-radius: 30px;
    width:45%;
    background-color: #1C319C;
  
  }
  .modal{
    display: flex !important;
    justify-content: center !important;
  }
  .input{
    align-items: center;
    text-align: center;
    border-radius: 30px;
  }
  .main{
    border-radius:30px ;
  }


.textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
.textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}