.container {
  height: 67.88px;
  margin-top: 47.77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Img {
  width: 80.93px;
  margin-top: 64px;
}
.Info {
  position: relative;
}
.Doctor {
  width: 170.69px;
  height: 67.88px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.Nurse {
  margin-left: 26px;
  width: 170.69px;
  height: 67.88px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.Patient {
  margin-left: 26px;
  width: 170.69px;
  height: 67.88px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.info {
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-top: 30px;
  color: #dfdfe4;
}
.button {
  width: 277px;
}

