.inputContainer {
  width: 190px;
  height: 5vh;
  background: linear-gradient(196.77deg, #252cb3 0%, #053f5e 278.21%);
  border: none;
  margin: 20px;
  border-radius: 7px;
  color: white;
}

.name{
    font-size:20px;
    margin: 0px;
}

  .button{
   align-items: center;
    border-radius: 30px;
    width:45%;
    background-color: #1C319C;
  
  }
  .modal{
    display: flex !important;
    justify-content: center !important;
  }
  .input{
    align-items: center;
    text-align: center;
    border-radius: 30px;
  }
  .main{
    border-radius:30px ;
  }


.textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
.textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.main1{
  
  width: 100%;
  border-radius:20px;
}
.table{
  width: 100%;
  
}
.Container{
  width: 87%;
  overflow: auto;
 background-color: white;
 border-radius:20px;
}
.thead{
  border-top:hidden;
}
.Id{
  width: 30px;
  height: 30px;
  color:white;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #77A5F8 0%, #D5A3FF 100%);
  align-items:center;
  text-align: center;
  border-radius:50%;
  font-weight: 1000;
}
.Idtag{
  margin-left: 7.5px;
  font-weight: 1000;
}
.td{
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
}
.name{
 
  min-width: 178px;
  text-align: center
}
.name1{
  min-width:8vw;
  
  text-align: center
}

.disabledActionBtn {
  cursor: no-drop;
}