.SelectDropdown {
  width: 50%;
  color: black;
  margin-top: 31px;
  
}
.Select {
    display: flex;
    justify-content: center;
    color: black;
 
}
.main {
  display: flex;
  justify-content: center;
  overflow: auto;
  
  margin-top: 40px;
  width: 90%;

}
.HumanBody{
    margin-top: 0px;
    width: 50%;
}

.multipleChosen, .multipleSelect2{
  width: 300px;
}
.Selectdata{
  width: 100%;
  height: fit-content;
  margin-top:30px;
  background-color: white;
  border-radius:3px;
}
.ul{
padding:30px 20px 30px 50px ;
}