.SelectDropdown {
  width: 76%;
  color: black;
  
}
.Select {
    display: flex;
    justify-content: center;
    color: black;
 
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.HumanBody{
    margin-top: 30px;
}