.inputContainer {
  width: 190px;
  height: 5vh;
  background: linear-gradient(196.77deg, #252cb3 0%, #053f5e 278.21%);
  border: none;
  margin: 20px;
  border-radius: 7px;
  color: white;
}

.name{
  font-size:20px;
  margin-top: 5px;
}